<% if(@press_items.count > 0) then %>
<% @press_items.each do |press_item| %>
    <div class="press_item">
        <span class="pi_title">
                        <a href="<%= press_item.link %>"><%= press_item.title %></a> /
        </span>
        <span class="pi_publ">
                        <%= press_item.publication %> /
        </span>
        <span class="pi_date">
                        <%= press_item.date %>
        </span>
        <% if(current_admin) %>
            <%= link_to 'Show', press_item %>
            <%= link_to 'Edit', edit_press_item_path(press_item) %>
            <%= link_to 'Destroy', press_item, confirm: 'Are you sure?', method: :delete %>
        <% end %>
    </div>
<% end %>
<br />
<br />
<br />
<br />
<% else %>
<br />
<br />
  <h4 style="text-align:center">This part of the website is currently under construction.</h4>
<br />
<br />
<br />
<br />
<% end %>
        <% if(current_admin) %>
        <%= link_to 'New Press item', new_press_item_path %>
        <% end %>
