
<script>
$(function() {
  $( "#accordion" ).accordion({
  collapsible: true,
  });
  <%# Hide all accordion items on start. via http://jqueryui.com/demos/accordion/#collapsible %>
  $( "#accordion" ).accordion( "option", "active", false );
});
</script>
<div id="proj_menu" class="<%= class_wrapper %> heading_indent">
<%
    @new_projs = ProjectType.where(:title=>"new").first.projects(:order_by=>"sort_order")
    @res_projs = ProjectType.where(:title=>"residential").first.projects
    @com_projs = ProjectType.where(:title=>"commercial").first.projects
    @hos_projs = ProjectType.where(:title=>"hospitality").first.projects
%>
  <div class="proj_type_list">
    <div id="accordion">
      <%= render :partial => 'header', :locals => {:title => "NEW PROJECTS", :collection => @new_projs} -%>
      <%= render :partial => 'header', :locals => {:title => "RESIDENTIAL PROJECTS", :collection => @res_projs} -%>
      <%= render :partial => 'header', :locals => {:title => "COMMERCIAL PROJECTS", :collection => @com_projs} -%>
      <%= render :partial => 'header', :locals => {:title => "HOSPITALITY PROJECTS", :collection => @hos_projs} -%>
    </div>
  </div>
</div>
