<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= select( "project", "project_type", { "Residential" => "residential", "Commercial" => "commercial", "Hospitality" => "hospitality"}) %>
  </div>
  <div class="field">
  <%= select( "project", "status", { "Available" => "available", "Sold Out" => "soldout"}) %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :value=>"New York City" %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :value=>"New York" %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <% if(@project.diagram) %>
    <%= f.label :diagram %>
    <%= f.file_field :diagram %>
    <% end %>
  </div>
  <div class="field">
    <% if(@project.photo?) %>
        <%= image_tag @project.photo %>
        <br />
    <% end %>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.fields_for :galleries do |builder| %>
      <%= render "gallery_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Image", f, :galleries %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
