<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sort_order %><br />
    <%= f.text_field :sort_order %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <% for project_type in ProjectType.find(:all) %>
  <div>
    <%= check_box_tag "project[project_type_ids][]", project_type.id, @project.project_types.include?(project_type) %>
    <%= project_type.title %>
  </div>
  <% end %>
  <div class="field">
    <%= select( "project", "status", { "Completed" => "completed", "Now Selling" => "now selling", "Sold Out" => "soldout", "Upcoming" => "upcoming"}) %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :value=>"New York City" %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :value=>"New York" %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
  <% if(@project.diagram) %>
    <%= image_tag @project.photo.url(:small) %>
  <% end %>
    <%= f.label :diagram %>
    <%= f.file_field :diagram %>
  </div>
  <div class="field">
    <% if(@project.photo?) %>
        <%= image_tag @project.photo.url(:small) %>
        <br />
    <% end %>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.fields_for :galleries do |builder| %>
      <%= render "gallery_fields", :f => builder %>
    <% end %>
    <p><%= link_to_add_fields "Add Image", f, :galleries %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
