<div class="field">
  <%#= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
  <%= @gallery %>
  <%= f %>
  <%= params %>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
</div>
