<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>City:</b>
  <%= @project.city %>
</p>

<p>
  <b>State:</b>
  <%= @project.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @project.zip %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
