<div id="content_wide" class="proj">
  <div id="content_left">
    <h3>
      <%= @project.project_type %> Projects
    </h3>
    <h4>
      <%= @project.title %>
    </h4>
    <p  class="left_p">
    <%= raw @project.description %>
    </p>
  </div>
  <div id="content_right">
    <%= image_tag @project.photo.url(:large), :height=>"599" %>
  </div>
  <div class="proj_det_sub_img">
    <% if(!@project.diagram.url.match(/missing/)) then  %>
    <%= image_tag @project.diagram.url(:medium) %>
    <% end %>
  </div>
</div>
<% if(current_admin) %>
<div style="clear:both; width:100%; height:20px;">
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
<% end %>
