<!DOCTYPE html>
<html>
<head>
  <title>Alfa Development</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :javascript %>
</head>
<body>
  <%= render "layouts/header" %>
  <div id="content_main_wrap">
    <%= yield %>
  </div>
<%= render "layouts/footer" %>
</body>
</html>
