<h3>TEAM</h3>
<p class="wide_p">Accum dolor acillaor ing etummy nulputa tuerci blaorting eugait nos dit praessectet, quis alit nit nonullam dionum zzriure dit vulpute dunt adit et dolore dolor ad duissim velisi tet la facip erilisi.</p>
<% @members.each do |member| %>
<div class="tm_member">
  <span class="tm_member_img">
    <%= image_tag member.photo.url(:small) %>
  </span>
  <div class="tm_desc_wrap">
    <h5 class="tm_member_h5">
      <span class="member-name"><%= member.name %></span>, <%= member.title %>
    </h5>
    <p  class="tm_member_p">
    <%= raw member.bio %>
    </p>
    <% if current_admin %>
      <p>
      <%= link_to 'Edit', edit_member_path(member) %>
      <br />
      <%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %>
      </p>
    <% end %>
  </div>
</div>
<% end %>
<br />

<% if current_admin %>
  <div style="clear:both; width:100%;">
  <p>
<%= link_to 'New Member', new_member_path %>
  </p>
</div>
<% end %>
