<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Title:</b>
  <%= @member.title %>
</p>

<p>
  <b>Bio:</b>
  <%= @member.bio %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
